.interest {
    &__wrapper {
        margin-top: 20px;
    }
    &__text {
        font-size: 16px;
        padding: 15px;
        span {
            color: $main_color;
            font-weight: 700;
        }
    }
    &__video {
        text-align: center;
        video {
            height: 360px;
        }
    }
}
