.promo {
    padding: 30px 0;
    &__header {
        text-align: center;
        font-size: 28px;
        color: $main_color;
        font-weight: 500;
    }
    &__subheader {
        text-align: center;
        font-size: 18px;
        line-height: inherit;
        width: 80%;
        margin: 0 auto;
        color: #555555;
        font-weight: 500;
    }
    &__wrapper {
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        grid-gap: 2rem;
        &_item {
            flex: 0 0 330px;
            margin: 0 auto;;
            margin-top: 40px;
            img {
                width: 100%;
                display: block;
                margin: 0 auto;
                cursor: pointer;
                transition: 0.5s;
            }
            img:hover {
                // transform: scale(1.05);
                box-shadow:
                // 0 1px 4px rgba(0, 0, 0, .3),
                // 5px 0 20px -5px rgba(0, 0, 0, .5),
                // -5px 0 20px -5px rgba(0, 0, 0, .5),
                0 5px 20px -5px rgba(0, 0, 0, .5),
            }
        }
        &_descr {
            display: block;
            margin-top: 10px;
            font-size: 20px;
            color: #333333;
            text-align: center;
            text-transform: uppercase;
            cursor: pointer;
        }
        :hover {
            color: $main_color;
        }
    }
}